@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="container">
    <div class="jumbotron text-center" style="background-color: #f8f9fa;">
        <h1 class="display-4">Tıbbi Takip Sistemi</h1>
        <p class="lead">Hoş geldiniz, @Session["Ad"] @Session["Soyad"]!</p>
        <hr class="my-4">
        <p>Burada sağlığınızı takip edebilir, randevularınızı yönetebilir ve daha fazlasını yapabilirsiniz.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Daha Fazla</a>
        </p>
    </div>
</div>
