@model tıbbitakipsistemi.Models.Randevu
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Kullanıcı Id</label>
                    <input type="text" name="KullaniciId" class="form-control" value="@Model.KullaniciId" />
                </div>

                <div class="form-group">
                    <label>Tarih</label>
                    <input type="datetime-local" name="Tarih" class="form-control" value="@Model.Tarih" />
                </div>

                <div class="form-group">
                    <label>Hastane </label>
                    <input type="text" name="Hastane" class="form-control" value="@Model.Hastane" />
                </div>
                <div class="form-group">
                    <label>Bölüm </label>
                    <input type="text" name="Bölüm" class="form-control" value="@Model.Bölüm" />
                </div>


                <button type="submit" class="btn btn-primary">Düzenle</button>
                <a href="/Randevular/Index">Randevu Listesi</a>
            </form>

        </div>
    </div>
</div>

