
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container"> 
        <br />
        <h2>Kayıt ol</h2>

        <div class="form-group col-md-3 container">
            <form method="post">

                <label>TC</label>
                <input type="text" name="TC" class="form-control"  required/>
                <br />

                <label>KullaniciAdi</label>
                <input type="text" name="KullaniciAdi" class="form-control"required />
                <br />

                <label>Ad</label>
                <input type="text" name="Ad" class="form-control" required />
                <br />

                <label>Soyad</label>
                <input type="text" name="Soyad" class="form-control" required />
                <br />

                <label>Parola</label>
                <input type="text" name="Parola" class="form-control" required />
                <br />
                <button class="btn btn-secondary">Kayıt ol

                </button>

              


            </form>

        </div>


    </div>
</body>
</html>
