@model tıbbitakipsistemi.Models.Ilac
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Kullanici Id</label>
                    <input type="text" name="KullaniciId" class="form-control" value="@Model.KullaniciId" />
                </div>

                <div class="form-group">
                    <label>İlaç</label>
                    <input type="text" name="Ilac1" class="form-control" value="@Model.Ilac1" />
                </div>

                <div class="form-group">
                    <label>İlaç Dozu </label>
                    <input type="text" name="IlacDozu" class="form-control" value="@Model.IlacDozu" />
                </div>



                <button type="submit" class="btn btn-primary">Düzenle</button>
                <a href="/Ilaclar/Index">İlaç Listesi</a>
            </form>

        </div>
    </div>
</div>

